{% extends "base.html"%}

{% block content %}
<div class="container mt-3">
    <h2 class="mb-3 text-center">Power BI Dashboard</h2>
    <div class="iframe-container">
        <iframe title="PowerBI_Dashboard_GroupProject" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODZkMzM4MjgtYzdlNS00NGQ5LTg4NTktNGUyYTdjNWU5Y2EzIiwidCI6ImI2NDE3Y2QwLTFmNzMtNDQ3MS05YTM5LTIwOTUzODIyYTM0YSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </div>

{% endblock %}